html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;

  font-family: Arial, Helvetica, sans-serif;
}

.chart-component {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  background-color: transparent;
}

.tab-controls {
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
}
.tab-controls > .tab-control {
  width: 50px;
  height: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  overflow: hidden;
}
.tab-controls > .tab-control.active  {
  background-color: white;
}
.tab-controls > .tab-control > span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid transparent;
}
.tab-controls > .tab-control.active > span {
  border-top: 3px solid #DE398C;
}

.tab-content {
  border-radius: 10px;
  background-color: white;
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
}
.tab-content.first-tab-selected {
  border-radius: 0 10px 10px 10px;
}

.tab-content > .chart-history {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 0;
}
.tab-content > .chart-history > select {
  font: inherit;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  background: transparent;
  -webkit-appearance: none;
  outline: none;
}

.tab-content > .chart-container {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-component {
  width: 250px;
  min-height: 200px;
  background: white;

  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.converter-component > .converter-component-header {
  padding: 20px;
}
.converter-component > .converter-component-header > h2 {
  margin: 0;
  color: #8B3183;
}
.converter-component > .converter-component-header > h3 {
  margin: 0;
}

.converter-component > .converter-component-date {
  width: 100%;
  height: 30px;
  background-color: #8B3183;

  display: flex;
  justify-content: center;
  align-items: center;
}
.converter-component > .converter-component-date > input {
  outline: none;
  border: none;
  padding: none;
  background-color: transparent;
  text-align: center;
  color: white;
}

.converter-component > .converter-component-footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.converter-component > .converter-component-footer > .converter-component-footer-currency {
  width: 100%;
  height: 30px;
  margin: 0 0 20px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  box-sizing: border-box;
}
.converter-component > .converter-component-footer > .converter-component-footer-currency.input-disabled {
  border-color: lightgray;
}
.converter-component > .converter-component-footer > .converter-component-footer-currency:last-child {
  margin: 0;
}
.converter-component > .converter-component-footer > .converter-component-footer-currency > input {
  height: 60%;
  width: 100%;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
}
.converter-component > .converter-component-footer > .converter-component-footer-currency > select {
  flex: 0 0 20%;
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  background: transparent;
  -webkit-appearance: none;
  outline: none;
}
